/* Header */
header {
  border-top: 4px solid #009223;
}
.header-wrapper {
  width: 1200px;
  height: 150px;
  margin: 0 auto 20px;
  position: relative;
}
.header-wrapper > .logo {
  text-indent: -9999px;
  position: absolute;
}

/* Nav - gnb */
.header-wrapper nav {
  height: 267px;
  position: relative;
  top: 110px;
}
.header-wrapper nav > ul {
  width: 942px;
  height: 50px;
  margin: auto;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.header-wrapper nav > ul a:hover {
  color: #009223;
}
.header-wrapper nav > ul > li > a {
  font-size: 18px;
  color: #292929;
  font-weight: 700;
  line-height: 22px;
}

.header-wrapper nav .second-depth {
  text-align: center;
  display: none;
  position: absolute;
  z-index: 9999;
}
.header-wrapper nav .second-depth a {
  font-size: 13px;
  color: #666;
}
.header-wrapper nav .second-depth li {
  padding-top: 20px;
}
.header-wrapper nav .second-depth li > a:hover {
  color: #009223;
  font-weight: bold;
}
.header-wrapper nav .second-depth1 {
  width: 66.25px;
  padding-right: 64px;
  padding-bottom: 12px;
}
.header-wrapper nav .second-depth2 {
  width: 146px;
  padding-right: 356px;
  padding-bottom: 94px;
  margin-left: -47px;
}
.header-wrapper nav .second-depth3 {
  width: 146px;
  padding-right: 32px;
  padding-bottom: 94px;
  margin-left: -40px;
}
.header-wrapper nav .second-depth4 {
  width: 146px;
  padding-right: 32px;
  padding-bottom: 94px;
  margin-left: -39px;
}

header .nav_bg {
  width: 100%;
  background-color: #fff;
  border-top: 1px solid #e5e5e5;
  height: 210px;
  position: absolute;
  z-index: 999;
  top: 170px;
  display: none;
  box-shadow: 2px 13px 15px 0px rgba(139, 139, 139, 0.7);
}

/* Util Menu */
.util-menu {
  width: 150px;
  height: 30px;
  position: absolute;
  top: 37px;
  right: 50px;
}
.util-menu a {
  color: #666;
  font-size: 13px;
  line-height: 30px;
}
.util-menu a:hover {
  font-weight: 500;
}
.util-menu .util-cont1 {
  float: left;
  margin-right: 12px;
}
.util-menu .util-cont2 {
  float: left;
}
.util-menu .util-cont2::before {
  content: '';
  display: inline-block;
  width: 3px;
  margin-right: 12px;
  height: 3px;
  background-color: #999;
  border-radius: 50%;
  vertical-align: middle;
}
.util-menu .util-cont3 {
  float: right;
  width: 30px;
  height: 30px;
  text-indent: -9999px;
  background: url(../images/global_icon.png) no-repeat;
}

/* footer starts */
.footer {
  background-color: #292929;
}
.footer-top-wrapper {
  width: 1200px;
  height: 60px;
  margin: 0 auto;
}
.footer-top-wrapper li {
  line-height: 60px;
  float: left;
  margin-right: 50px;
}
.footer-top-wrapper li:nth-of-type(1) {
  margin-left: 20px;
}
.footer-top-wrapper li > a {
  font-size: 13px;
  font-weight: 400;
  color: #666;
}
.footer-top-wrapper li > a:hover {
  color: #bbb;
}
.footer-bottom-wrapper {
  border-top: 1px solid #666;
}
.footer-bottom {
  width: 1200px;
  height: 90px;
  margin: 22px auto 0;
  position: relative;
  padding-left: 20px;
  box-sizing: border-box;
}
.footer-bottom-cont1::after {
  display: block;
  clear: both;
  content: '';
}
.footer-bottom-cont1 li {
  font-size: 13px;
  font-weight: 400;
  color: #666;
  float: left;
  margin-right: 28px;
}
.footer-bottom-cont1 li::after {
  font-weight: 900;
  content: '|';
  margin-left: 28px;
}
.footer-bottom-cont1 li:last-child::after {
  content: none;
}
.footer-bottom-cont2 {
  font-size: 16px;
  color: #666;
  margin-top: 17px;
  float: left;
  font-weight: bold;
}
.footer_bottom_sns {
  position: absolute;
  right: 0;
  top: 18px;
}
.footer_bottom_sns a {
  display: block;
  float: left;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
  overflow: hidden;
}
.footer_bottom_sns a:hover {
  background-position: -50px 0px;
}
.footer_sns_insta {
  background-image: url(../images/icon_sns_instar.png);
  margin-right: 20px;
}
.footer_sns_facebook {
  background-image: url(../images/icon_sns_facebook.png);
}
/* footer ends */
