@import 'reset.css';
@import 'header-footer.css';

.img_size {
  width: 262px;
  height: 184px;
}

/* Event Banner */
.event-banner {
  position: relative;
  width: 100%;
  height: 440px;
  top: 0;
  overflow: hidden;
}
.event-banner .event-banner-wrapper {
  z-index: -9999;
  height: 440px;
  text-align: center;
  position: absolute;
  left: -360px;
  right: -360px;
}

.banner-arrows {
  width: 1200px;
  height: 36px;
  margin: auto;
  margin-top: 390px;
}

.banner-arrows .banner_prevArrow {
  background: url(../images/banner_prevArrow.png) no-repeat;
  text-indent: -9999px;
  width: 36px;
  height: 36px;
  display: block;
  float: left;
}
.banner-arrows .banner_nextArrow {
  background: url(../images/banner_nextArrow.png) no-repeat;
  text-indent: -9999px;
  width: 36px;
  height: 36px;
  display: block;
  float: left;
}

/* Quick */
.quick-section {
  width: 1200px;
  height: 620px;
  margin: 50px auto;
}

/* Subway Quick Menu */
.subway-quick-menu {
  width: 716px;
  height: 620px;
  float: left;
  margin-right: 20px;
  position: relative;
}
.subway-quick-menu .menu-title {
  background: url(../images/bul_tit.png) 0 12px no-repeat;
  padding: 17px 0 0 25px;
  margin-bottom: 1px;
  font-weight: bold;
  font-size: 40px;
  color: #292929;
  box-sizing: border-box;
  display: inline-block;
}
.subway-quick-menu > .subway-quick-menu-top {
  position: absolute;
  top: 50px;
  right: 0;
}
.subway-quick-menu > .subway-quick-menu-top > li {
  float: left;
  margin-left: 20px;
}
.subway-quick-menu > .subway-quick-menu-top > li > a {
  font-size: 16px;
  line-height: 19px;
  color: #666;
}
.subway-quick-menu > .subway-quick-menu-top > li > a:hover {
  color: #009223;
  font-weight: 700;
}
.subway-quick-menu-cont {
  width: 700px;
}
.subway-quick-menu-cont li {
  display: none;
}
.subway-quick-menu-cont li.active {
  display: block;
}
.subway-quick-menu-cont .fresh-menu {
  display: none;
}
.subway-quick-menu-cont .premium-menu {
  display: none;
}
.subway-quick-menu-cont .morning-menu {
  display: none;
}
.subway-quick-menu dl {
  width: 262px;
  height: 270px;
  float: left;
}
.subway-quick-menu dl:nth-child(2n-1) {
  margin-left: 67px;
  margin-right: 91px;
}
.subway-quick-menu dl > dt {
  font-size: 22px;
  font-weight: 700;
  line-height: 19px;
  text-align: center;
  margin-top: -15px;
}
.subway-quick-menu dl > dd {
  color: #999;
  font-size: 13px;
  line-height: 21px;
  text-align: center;
  margin-top: 15px;
}

/* Subway Quick Link */
.subway-quick-link {
  float: left;
  position: relative;
}
.subway-quick-link .orange-box {
  background: url(../images/img_subway_artist.png);
  width: 464px;
  height: 300px;
  margin-bottom: 24px;
  position: relative;
}
.orange-box h2 {
  display: inline-block;
  color: #fff;
  position: absolute;
  bottom: 18px;
  left: 15px;
  background-color: #ff8300;
}
.orange-box a {
  width: 464px;
  height: 300px;
  text-indent: -9999px;
  display: block;
}
.subway-quick-link .yellow-box {
  width: 240px;
  height: 73px;
  background-color: #ffce32;
  border-radius: 30px 0 30px 0;
  margin-bottom: 24px;
  text-align: center;
  position: relative;
}
.yellow-box h2 {
  color: #fff;
  font-size: 22px;
  height: 30px;
  padding-top: 21.5px;
  line-height: 20px;
}
.yellow-box h2::before {
  content: url(../images/question.png);
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: -6px;
  margin-right: 13px;
}
.yellow-box a {
  width: 240px;
  height: 73px;
  display: block;
  text-indent: -9999px;
  position: absolute;
  top: 0;
}
.subway-quick-link .blue-box {
  width: 240px;
  height: 199px;
  background-color: #00a9ec;
  border-radius: 0 30px 0 30px;
  overflow: auto;
  position: relative;
}
.blue-box h2 {
  margin-top: 26px;
  margin-left: 20px;
  color: #fff;
  font-size: 20px;
}
.blue-box a {
  width: 92px;
  height: 36px;
  border: 2px solid #fff;
  display: block;
  border-radius: 20px;
  color: #fff;
  text-align: center;
  line-height: 33px;
  position: absolute;
  bottom: 22px;
  right: 22px;
}
.subway-quick-link .green_box {
  width: 209px;
  height: 296px;
  background-color: #009223;
  border-radius: 0 30px 0 30px;
  position: absolute;
  top: 324px;
  right: 0;
  text-align: center;
}
.green_box img {
  width: 139px;
  height: 158px;
  margin-top: 35px;
  margin-bottom: 32px;
}
.green_box a {
  width: 132px;
  height: 36px;
  border: 2px solid #fff;
  display: block;
  border-radius: 20px;
  color: #fff;
  line-height: 33px;
  margin: auto;
}

/* Announce section starts */
.announce {
  background: url(../images/news_section_bg.gif) 0 0 repeat;
}
.announce__section {
  width: 1200px;
  height: 550px;
  margin: 0 auto;
}
.announce__news {
  width: 503px;
  height: 483px;
  background-color: #fff;
  border-radius: 0 30px 0 30px;
  margin-top: 33.5px;
  float: left;
  box-sizing: border-box;
}
.announce__news h2 {
  background: url(../images/bul_tit.png) 0px 0 no-repeat;
  padding: 17px 0 0 20px;
  font-weight: bold;
  font-size: 30px;
  margin: 40px 0 30px 60px;
  font-family: 'Roboto', sans-serif;
  color: #292929;
  font-weight: 700;
  box-sizing: border-box;
}
.announce__news p {
  margin-left: 90px;
  color: #666;
  line-height: 26px;
  font-weight: 400;
}
.announce__news ul {
  margin-left: 90px;
  margin-top: 40px;
  font-weight: 400;
  line-height: 19px;
}
.announce__news li {
  margin-bottom: 43px;
}
.announce__news li a {
  color: #292929;
}
.new_more {
  width: 92px;
  height: 36px;
  border: 2px solid #292929;
  border-radius: 25px;
  display: block;
  margin: auto;
  text-align: center;
  line-height: 33px;
  color: #666;
}
.announce__advertise {
  width: 660px;
  height: 483px;
  float: right;
  margin-top: 33.5px;
  border-radius: 0 30px 0 30px;
  background-color: #292929;
}
.announce__advertise iframe {
  margin-top: 57px;
}
/* Announce section ends */
