@import 'reset.css';
@import 'header-footer.css';

.img_size {
  width: 262px;
  height: 184px;
}

/* main */
.content {
  background: #f2f2f2;
  position: relative;
}

.content .top_banner_img {
  height: 380px;
  margin: auto;
}

.content .top_banner_img .top_img_size {
  max-width: 1400px;
  min-width: 1170px;
  margin: auto;
  height: 380px;
}

.top_lnb_underline {
  height: 1px;
  background-color: #fff;
  width: 100%;
  position: absolute;
  top: 60px;
  opacity: 0.4;
}

.top_banner_img .top_lnb {
  width: 1200px;
  height: 60px;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
}

.top_lnb ul {
  display: inline-block;
}

.top_lnb ul li {
  margin: 20px auto;
  font-size: 15px;
}

.top_lnb ul li a {
  color: #fff;
}

.top_lnb .top_lnb_01 {
  margin-right: 30px;
  float: left;
}
.top_lnb .top_lnb_02 {
  margin-right: 30px;
  float: left;
}
.top_lnb .top_lnb_03 {
  margin-right: 30px;
  float: left;
}
.top_lnb .top_lnb_04 {
  margin-right: 30px;
  float: left;
}
.top_lnb .top_lnb_05 {
  float: left;
}

.top_banner_img h2 {
  color: #fff;
  font-size: 50px;
  text-align: center;
  margin-top: 30px;
}

.top_banner_img p {
  color: #fff;
  text-align: center;
  margin-top: 40px;
  font-size: 18px;
  line-height: 30px;
}

.bottom_lnb {
  width: 1170px; 
  height: 60px;
  background: #fff;
  text-align: center;
  margin: -30px auto 60px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .2);
}

.bottom_lnb ul {
  display: inline-block;
  margin-top: 20px;
}

.bottom_lnb .bottom_lnb_01 {
  float: left;
  margin-right: 30px;
}
.bottom_lnb .bottom_lnb_02 {
  float: left;
  margin-right: 30px;
}
.bottom_lnb .bottom_lnb_03 {
  float: left;
  margin-right: 30px;
}
.bottom_lnb .bottom_lnb_04 {
  float: left;
}

.bottom_lnb li a {
  font-size: 16px;
}

.main_menu_intro {
  width: 1170px;
  margin: auto;
  overflow: hidden;
}

.main_menu_intro .menu_intro_title {
  width: 1170px;
  height: 48px;
  background: #ffce32;
  text-align: center;
  margin: 60px auto 30px;
  font-size: 16px;
  line-height: 48px;
  clear: both;
}

.menu_intro_boxes img {
  display: block;
  width: 80%;
  margin: auto;
} 

.menu_intro_boxes h4 {
  text-align: center;
  font-size: 20px;
  margin: 0;
}

.menu_intro_boxes h5 {
  text-align: center;
  font-size: 16px;
  color: #999;
  margin: 0;
}

.menu_intro_boxes p {
  color: #ffce32;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

.main_menu_intro ul {
  width: 1170px;
  margin: auto;
}

.main_menu_intro .menu_intro_boxes {
  width: 370px;
  height: 330px;
  background: #fff;
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
}

.main_menu_intro .menu_intro_boxes:nth-of-type(3n) {
  margin-right: 0;
}

